







<center><h1><font size=7><%=p1_name%> Please pick a word for <%=p2_name%> to play hang man with!!

<center><font size=6><%=p2_name%> You will be guessing <%=p1_name%>'s word. </font size=6><font color=blue></center>
<form method="post" action="secretword">
<input type="password" name="word">
<input type="submit">
<input type="hidden" name="player1" value='<%=p1_name%>'>
<input type="hidden" name="player2" value='<%=p2_name%>'>



</form>

